/* ================================= GENERAL STYLES =================================*/
:root {
    --color-primary: #fff;
    --navbar-color: #38858a;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: wheat;
}

/* ================================= SIDEBAR =================================*/
.header__container {
    background-color: var(--navbar-color);
}

.container__sidebar {
    font-size: 1.7rem;
    color: var(--color-primary);
}

.sidebar__list {
    display: flex;
    list-style: none;
}

.item__link {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color-primary);

}

.item__link:hover {
    background-color: #222;
}



/* ================================= SLIDER =================================*/
.main__container {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.slider-container {
    position: relative;
    width: 80rem;
    height: 50rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000004d;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.image-container img {
    width: 80rem;
    height: auto;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 50%;
    width: 100px;
    font-size: 1rem;
    transform: translateY(-50%);
    opacity: 0.7;
    fill: var(--color-primary);
    cursor: pointer;
}

.btn.prev {
    left: 10px;
}
.btn.next {
    right: 10px;
}

.btn:hover {
    opacity: 1;
}