/* ================================= GENERAL STYLES =================================*/
:root {
    --primary-color: #fff;
    --navbar-color: #38858a;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ================================= SIDEBAR =================================*/
.header__container {
    background-color: var(--navbar-color);
}

.container__sidebar {
    font-size: 1.7rem;
    color: var(--primary-color);
}

.sidebar__list {
    display: flex;
    list-style: none;
}

.item__link {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-color);

}

.item__link:hover {
    background-color: #222;
}



/* ================================= SLIDER =================================*/
.container__slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0 1rem;
    max-width: 95%;
    width: 100rem;
    margin: 2vw auto;
}

.slider__item {
    padding-bottom: 1.5rem;
}

.slider__container--image {
    height: 18rem;
}

.slider__link{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__image {
    transition: transform 300ms linear;
}

.slider__link:hover .slider__image {
    transform: scale(1.1);
}

.slider__title {
    font-size: 1.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #555;
}